@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html {
  overflow-x: hidden;
  width: 100%;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Inter';
}

.container-inline {
  margin-left: 100px;
  margin-right: 100px;
}



.display-cover-img {
  opacity: 100;
}

@keyframes reveal-left {
  from {
    clip-path: inset(0 0 0 100%); /* Esconde tudo pela esquerda */
  }
  to {
    clip-path: inset(0 0 0 0); /* Mostra tudo */
  }
}
.animate-reveal-left {
  animation: reveal-left 0.4s ease-out;
}

@keyframes slot-spin {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(-400%);
  }
}

.animate-slot-spin {
  animation: slot-spin 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}


.nav-link {
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: white;
  transform: scale(1.05);
}

.container {
margin-left: 50px;
margin-right: 15px;
}


::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2d2d2d;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}

