@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  cursor: none; /* Esconde o cursor padrão */
  font-family: 'Inter';
}

/* Esconde cursor em elementos não-interativos */
* {
  cursor: none !important;
}

/* EXCEÇÃO: Permite pointer events em elementos interativos */
a, button, input, textarea, select, [role="button"] {
  pointer-events: auto !important;
}

.nav-link {
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: white;
}